 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Perceptive and logical data analyst with proven ability to communicate with both technical processionals and end users to identify and translate business requirements. Offering data accuracy and integrity. Proven ability to build and lead teams of talented professionals to develop valuable process solutions to meet business objectives.</p>
                </div>
                <div class="col-lg-4">
                    <p>Currently a Senior at UC Berkeley Studying Data Science with an emphasis on Organizations and the Economy. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/ddelcarpio/ddelcarpio.github.io/raw/master/Daniel%20del%20Carpio's%20Resume.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
